@model MvcAuthentication.Core.ViewModels.LevelViewModel
@{
    ViewData["Title"] = @Model.LevelProgressState.Level.LevelName;
}

@using MvcAuthentication.Core.Model.Abstracts
@using MvcAuthentication.Core.Services.Level
@using MvcAuthentication.Core.State

<div class="text-center">
    @if(Model.LevelProgressState != null)
    {
        <h1 class="display-4">@Model.LevelProgressState.Level.LevelName</h1>
        <h3 class="display-4">@Model.CurrentQuestion.QuestionText</h3>
    }
    else
    {
        <h1 class="display-4">Loading level...</h1>
    }
    @if (Model.CurrentQuestion != null)
    {
        <div class="d-flex flex-wrap justify-content-evenly p-2 buttons-container">
            @foreach (var answer in Model.CurrentQuestion.QuestionAnswers)
            {
                <a class="btn btn-dark btn-lg my-5 shadow" asp-action="VerifyAnswer" asp-route-answerId="@answer.AnswerId">@answer.Answer.AnswerText</a>
            }
        </div>
    }
</div>